.cart {
  margin-bottom: 40px;
}

.cart__list {
  @include list-reset;
}

.cart__item {
  position: relative;

  display: flex;
  padding-bottom: 16px;

  border-top: 0.7px solid #dddada;

  &:last-child {
    border-bottom: 0.7px solid #dddada;
  }
}

.cart__wrapper {
  display: flex;
  min-width: 460px;
  padding-left: 4.7%;
  margin-right: 6%;
}

.cart__image-wrapper {
  align-self: center;
  margin-right: 69px;
  padding-top: 19px;
  order: 1;
}

.cart__wrapper-inner {
  order: 2;
}

.cart__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 14px;

  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.cart__articule {
  margin: 0;
  margin-bottom: 6px;

  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}

.cart__description {
  margin: 0;
  margin-bottom: 6px;

  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-transform: capitalize;
  letter-spacing: 0.05em;
  color: #000000;

  span {
    text-transform: none;
  }
}

.cart__catalog-price {
  align-self: center;
  min-width: 100px;
  margin: 0;
  margin-right: 7.7%;
  padding-top: 23px;

  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}

.cart__count {
  display: flex;
  align-self: center;
  padding-bottom: 37px;
  margin-right: 60px;
}

.cart__count-decrease,
.cart__count-increase {
  display: block;
  width: 28px;
  height: 30px;
  padding: 0;

  color: #9f9e9e;

  border: 1px solid #9f9e9e;
  background-color: #ffffff;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #000000;
    border-color: #000000;
  }

  &:active {
    opacity: 0.8;
  }
}

.cart__count-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 30px;
  margin: 0;

  color: #9f9e9e;

  border-top: 1px solid #9f9e9e;
  border-bottom: 1px solid #9f9e9e;
}

.cart__final-price {
  display: block;
  min-width: 100px;
  align-self: center;
  margin: 0;
  margin-left: auto;
  padding-top: 23px;

  font-size: 20px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: right;
  color: #000000;
}

.cart__button-close {
  position: absolute;
  top: 19px;
  left: -5px;

  display: block;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: 1021px) {
  .cart__item {
    justify-content: space-between;
  }

  .cart__wrapper {
    max-width: 600px;
    margin-right: 0;
  }

  .cart__catalog-price {
    margin-right: 0;
  }

  .cart__count {
    margin-right: 0;
  }

  .cart__final-price {
    margin-left: 0;
  }
}
