.header {
  min-width: 1020px;
}

.header__wrapper {
  display: flex;

  padding-top: 20px;
  padding-right: 44px;
  padding-bottom: 16px;
  padding-left: 40px;

  background-color: rgba(#1e0906, 0.15%);
}

.header__logo {
  margin-right: 94px;
}

.header__nav {
  margin-top: 25px;
  margin-right: auto;
}

.header__menu {
  margin-top: 15px;
}

.header__image-container {
  position: relative;

  display: flex;
  justify-content: flex-end;

  margin-top: -38px;

  &::before {
    content: "";
    position: absolute;
    top: 62px;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 4px;

    background-color: #3f3f3f;

    box-shadow: 0 0 0 10px #ffffff, 0 10px 0 4px #3f3f3f, 0 14px 0 10px #ffffff, 0 24px 0 4px #3f3f3f, 0 28px 0 10px #ffffff, 0 38px 0 4px #3f3f3f, 0 42px 0 10px #ffffff, 0 52px 0 4px #3f3f3f, 0 56px 0 10px #ffffff, 0 66px 0 4px #3f3f3f;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
